<% unless @pagy.page == @pagy.last%>
  <%= turbo_frame_tag "tracks-page-#{@pagy.next}",
                      loading: :lazy,
                      src: pagy_url_for(@pagy, @pagy.next) do %>
    <div class="">
      Loading...
    </div>
  <% end %>
<% end %>