<%= turbo_frame_tag dom_id(artist, :popular), 'transition-name' => 'down'  do %>
  <%= render tracks, enqueueble: true %>
  <li class="track">
    <span class="track--number"></span>
    <%# may be add btn "Show less" %>
    <% if tracks_size > current_position %> 
      <%= link_to popular_track_artist_path(artist, current_position: current_position, turbo_frame: :_self), 
                  class: "icon-btn" do %>
        Load more
      <% end %>
    <% end %>
  </li>
<% end %>