<div id="hoverContent" style='min-width: 420px !important;'>
  <div class='flex flex-row w-full'>
    <div class='flex flex-col w-1/3'>
      <div class='text-rose-600 font-semibold mb-2' style='width: 9rem;'>
        <%= artist.name %>
      </div>
      <% if artist.cover.attached? %>
        <%= image_tag artist.cover, 
                      size: '100',
                      style: "height: max-content; width: 9rem;" %>
      <% end %>
    </div>
    <div class='flex flex-col fs-[14px] ml-2 w-2/3'>
      <% artist.albums.limit(10).pluck(:title, :year).each do |title, year| %>
        <div class=''>
          <%= title %> (<%= year %>)
        </div>
      <% end %>
    </div>
  </div>
</div>