<div class="flex w-full align-center my-0.5">
  <div class="flex-shrink-0 mr-2">
   <%= link_to album.title, 
               album_path(album), 
               class: "text-blue-500",
               data: { action: 'click->search#clearAfter' } %>
  </div>
  <div class="">
    <%= link_to artist_path(album.artist), 
                class: "text-rose-600 font-semibold hoverWrapper",
                data: { action: 'click->search#clearAfter' } do %>
    
      <%= album.artist.name %>
      <%= render 'search/hovercard/artist', artist: album.artist %>
    <% end %>
  </div>
</div>
